<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/fragments :: head}">
  
</head>
<body>
		<header th:insert="~{fragments/navbar :: navbar(tickets)}"></header>
	
	<div class="container">
		<div class="row">
			<div class="col">
				<th:block th:if="${tickets.size() > 0}">
					
				    <h1 class="mb-5 mt-4 text-center">Lista dei tickets richiesti</h1>
					
					<div class="d-flex justify-content-around">
					   <form th:action="@{/tickets}" method="GET">
						   <div class="input-group mb-5">
						     <span class="input-group-text" id="inputGroup-sizing-default">Cerca Ticket...</span>
						     <input type="text" class="form-control" name="title">
						     <span class="col-2">
						  	    <input type="submit" class="form-control btn btn-secondary">
						     </span>	
						  </div>
					   </form>
					
					   <div>
					      <a th:href="@{tickets/create}" class="btn btn-primary mb-4 ms-auto">Richiedi Ticket</a>
					   </div>
					</div>
					
					<th:block th:if="${successMessage != null}">
						<div th:replace="~{fragments/fragments :: successAlert(${successMessage})}"></div>
				    </th:block>
					
					<table class="table table-hover">
					  <thead>
						<tr>
						  <th scope="col">ID</th>
						  <th scope="col">Titolo</th>
						  <th scope="col">Stato</th>
						  <th scope="col">Data Richiesta</th>
						  <th scope="col">Data Ultima Modifica</th>
						  <th></th>
						  <th></th>
						  <th></th>
						</tr>
					  </thead>
					  <tbody>
						<tr th:each="ticket : ${tickets}">
						  <td th:text="${ticket.id}"></td>
						  <td th:text="${ticket.title}"></td>
						  <td th:text="${ticket.status}" class="text-uppercase fw-medium"></td>
						  <td th:text="${ticket.getFormattedCreatedAt()}"></td>
						  <td th:text="${ticket.getFormattedUpdatedAt()}"></td>
						  <td>
							<a th:href="@{/tickets/{id}(id=${ticket.id})}" class="btn btn-primary">Dettagli</a>
						  </td>
						  <td>
						  	<a th:href="@{/tickets/edit/{id}(id=${ticket.id})}" class="btn btn-warning">Modifica</a>
						  </td>
						  <td>
						    <form th:action="@{/tickets/delete/{id}(id=${ticket.id})}" method="POST">
								<button type="submit" class="btn btn-danger" onclick="return confirm('Sei sicuro di voler eliminare questo ticket?')">Elimina</a> 
							</form>
						  </td>
						</tr>
					  </tbody>
					</table>
				</th:block>
			
			    <th:block th:unless="${tickets.size() > 0}">
				    <h3 class="my-5 text-center">Non ci sono tickets richiesti</h3>
		        </th:block>
			
			</div>
        </div>
    </div>
	
	<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
</body>
</html>